.navbar-brand {
    margin-left: -10px;
}

.main-menu a {
    color: #4d4d4d !important;
}

.menu-search input {
    width: 150px !important;
}

.session {
    height: 90vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: #4d4d4d;
}

.session h1 {
    font-size: 5vw;
}

.session h4 {
    font-size: 2vw;
}

.session p {
    font-size: 1.1rem;
}

.session button {
    background-color: #004d4d;
    color: #f2f2f2;
    padding: 10px 15px 10px 25px !important;
}

.session-title {
    font-size: 1.3em;
    color: #004d4d;
    font-weight: 300;
}

#cover-1 {
    background-image: url("/img/cover_1.png");
}

#cover-2 {
    background-image: url("/img/cover_2.png");
}

#cover-3 {
    background-image: url("/img/cover_1.png");
}

#cover-4 {
    background-image: url("/img/cover_2.png");
}

.slide-control .arrow {
    font-size: 1.1em;
    color: #bfbfbf;
    padding: 3px;
    margin: 3px;
}

.rating .unchecked {
    color: #bfbfbf;
}

.checked {
    color: gold;
}

.custom-breadcrumb {
    color: #004d4d;
    font-weight: 400;
}

.custom-breadcrumb .img {
    display: inline-block;
    height: 40px;
    width: auto;
}

.custom-breadcrumb .fas {
    font-size: 1.7em;
    color: #bfbfbf;
    margin-bottom: -5px;
}

.product-slide .product {
    height: 260px;
}

.product-slide img {
    width: auto;
    height: 100%;
    max-height: 220px;
}

.product-slide .name {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

@media only screen and (max-width: 992px) {
    .session h1 {
        font-size: 5vw !important;
    }
}

@media only screen and (max-width: 576px) {
    .session h1 {
        font-size: 7vw !important;
    }

    .custom-breadcrumb .img {
        display: none !important;
    }
}